/*Etiquetas a*/
:root{
    --letras: rgb(62, 73, 83);
    --fondo: rgb(217, 226, 228);
}
.dark-mode{
    --letras: rgb(217, 226, 228);
    --fondo: rgb(62, 73, 83);
}
button{
    border-radius: 100%;
    border: var(--fondo) solid 1px;
    width: 50px;
    height: 50px;
    color: var(--fondo);
    background-color: var(--letras);
}
button:hover{
    background-color: var(--fondo);
    color: var(--letras);
}
a{
    text-decoration: none;
    color: var(--fondo);
    font-size: 20px;
    padding: 10px;
}
.navbar ul li a:hover{
    border-bottom: var(--fondo) solid 2px;
    border-radius: 3px;
}
.logo{
    font-size: 30px;
    width: 20%;
    padding: 2px;
}
.navbar ul{
    list-style: none;
    display: grid;
    grid-template-columns: 20% 21% 20%;
}

*{
    font-family: 'Oxygen', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--letras);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.14' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
}
body{
    transition: 0.2s linear 0.1s; 
}

.container{
    width: 90%;
    margin: auto;
}

/*Nav bar*/
.navbar{
    display: grid;
    position: fixed;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40% 50% 5%;
    background-color: var(--letras);
    width: 90%;
    height: 60px;
    border-bottom: var(--fondo) solid 1px;
    border-left: var(--fondo) solid 1px;
    border-right: var(--fondo) solid 1px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.navbar{
    transition: 0.2s linear 0.1s;
}

/*Perfil*/
.perfil{
    display: grid;
    justify-content: center;
    align-items: center;
}
    
.card-r{
    display: grid;
    justify-content: center;
    align-items: center;
 }
    
.card-perfil{
    margin-top: 140px;
    border-radius:5px;
    border-left: var(--fondo) solid 1px;
    border-right: var(--fondo) solid 1px;
    border-top: var(--fondo) solid 1px;
    border-bottom: var(--fondo) solid 1px;
     width: 400px;
    height: 500px;
    background-color: var(--letras);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.card-perfil:hover{
    margin-top: 135px;
}
.card-perfil{
    transition: 0.2s linear 0.1s;
}

    
    
.img-perfil{
 width: 150px;
height: 150px;
border-radius: 100%;
margin-top: 40px;
box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        
}
    
.img-perfil:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.img-r{
    width: 150px;
    height: 200px;
    margin-top: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-info{
    width: 100%;
    height: 34%;
    margin-top: 30px;
    background-color: var(--letras);
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
    
.perfil-name{
    font-size: 25px;
    margin-left: 20%;
    margin-top: 15px;
    color: var(--fondo);
}
    
.card-info ul{
list-style: none;
border-top: var(--fondo) solid 1px;
}
    
.info li{
    padding: 10px ;
    border-bottom: var(--fondo) solid 1px;
}
    
.info li span{
    margin-left: 5%;
    color: var(--fondo);
 }
    
.info-p{
     margin-left: 10px;
    margin-top: 70px;
    font-size: 17px;
 }
.cp{
    display: grid;
    justify-content: center;
    align-items: center;
 }


 .c-cards{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-items: center;
}


.card-html{
    width: 80%;
    height: 60%;
    background-color: var(--letras);
    margin-top: 120px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    border-bottom: rgb(248, 95, 34) solid 8px;
    border-radius: 7px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-top: rgb(248, 95, 34) solid 1px;
    border-left: rgb(248, 95, 34) solid 1px;
    border-right: rgb(248, 95, 34) solid 1px
}

.card-css{
    width: 80%;
    height: 60%;
    background-color: var(--letras);
    margin-top: 120px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    border-bottom: rgb(34, 109, 248) solid 8px;
    border-radius: 7px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-top:  rgb(34, 109, 248) solid 1px;
    border-left:  rgb(34, 109, 248) solid 1px;
    border-right:  rgb(34, 109, 248) solid 1px
}

.card-js{
    width: 80%;
    height: 60%;
    background-color: var(--letras);
    margin-top: 120px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    border-bottom: rgb(248, 191, 34) solid 8px;
    border-radius: 7px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-top: rgb(248, 191, 34) solid 1px;
    border-left: rgb(248, 191, 34) solid 1px;
    border-right: rgb(248, 191, 34) solid 1px
}

.card-c{
    width: 80%;
    height: 60%;
    background-color: var(--letras);
    margin-top: 120px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    border-bottom: rgb(0, 88, 160) solid 8px;
    border-radius: 7px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-top: rgb(0, 88, 160) solid 1px;
    border-left: rgb(0, 88, 160) solid 1px;
    border-right: rgb(0, 88, 160) solid 1px
}

.card-java{
    width: 80%;
    height: 60%;
    background-color: var(--letras);
    margin-top: 120px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    border-bottom: rgb(85, 150, 224) solid 8px;
    border-radius: 7px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-top: rgb(85, 150, 224) solid 1px;
    border-left: rgb(85, 150, 224) solid 1px;
    border-right: rgb(85, 150, 224) solid 1px
}

.card-py{
    width: 80%;
    height: 60%;
    background-color: var(--letras);
    margin-top: 120px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    border-bottom: rgb(24, 125, 219) solid 8px;
    border-radius: 7px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-top: rgb(24, 125, 219) solid 1px;
    border-left: rgb(24, 125, 219) solid 1px;
    border-right: rgb(24, 125, 219) solid 1px
}

.card-rn{
    width: 80%;
    height: 60%;
    background-color: var(--letras);
    margin-top: 120px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    border-bottom: rgb(116, 186, 252) solid 8px;
    border-radius: 7px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-top: rgb(116, 186, 252) solid 1px;
    border-left: rgb(116, 186, 252) solid 1px;
    border-right: rgb(116, 186, 252) solid 1px;
}

.card-sb{
    width: 80%;
    height: 60%;
    background-color: var(--letras);
    margin-top: 120px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    border-bottom: rgb(0, 160, 8) solid 8px;
    border-radius: 7px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-top:rgb(0, 160, 8) solid 1px;
    border-left:rgb(0, 160, 8) solid 1px;
    border-right: rgb(0, 160, 8) solid 1px
}


/*Images*/

.icon-c img{
margin-left: 15%;
}

.icon-java img{
    margin-left: 15%;
}

.icon-py img{
    margin-left: 15%;
}

/*Texto skill*/
.skill-c h3{
    color: var(--fondo);
    margin-left: 20%;
    padding: 10px;
    font-size: 100%;
}
.skill-java h3{
    color: var(--fondo);
    margin-left: 20%;
    padding: 10px;
    font-size: 100%;
}
.skill-js h3{
    color: var(--fondo);
    margin-left: 20%;
    padding: 10px;
    font-size: 100%;
}
.skill-css h3{
    color: var(--fondo);
    margin-left: 20%;
    padding: 10px;
    font-size: 100%;
}
.skill-html h3{
    color: var(--fondo);
    margin-left: 20%;
    padding: 10px;
    font-size: 100%;
}
.skill-py h3{
    color: var(--fondo);
    margin-left: 20%;
    padding: 10px;
    font-size: 100%;
}
.skill-sb h3{
    color: var(--fondo);
    margin-left: 20%;
    padding: 10px;
    font-size: 100%;
}
.skill-rn h3{
    color: var(--fondo);
    margin-left: 20%;
    padding: 10px;
    font-size: 100%;
}

.skill-c h2{
    color: var(--fondo);
    padding: 10px;
}

.skill-java h2{
    color: var(--fondo);
    padding: 10px;
}
.skill-js h2{
    color: var(--fondo);
    padding: 10px;
}
.skill-css h2{
    color: var(--fondo);
    padding: 10px;
}
.skill-html h2{
    color: var(--fondo);
    padding: 10px;
}
.skill-py h2{
    color: var(--fondo);
    padding: 10px;
}
.skill-sb h2{
    color: var(--fondo);
    padding: 10px;
}
.skill-rn h2{
    color: var(--fondo);
    padding: 10px;
}

/*Animaciones*/
.c-cards section:hover{
    border-color:var(--fondo);
    margin-top: 110px;
}

.c-cards section{
    transition: 0.2s linear 0.1s;
}


 